html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: #223b55;
}

.container {
  width: 50%;
  margin: 50px auto;
  margin-top: 15%;
  margin-left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.container h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

button {
  padding: 10px 20px;
  color: #03e9f4;
  cursor: pointer;
  border: none;
  background: transparent;
  transition: 0.5s;
  letter-spacing: 2px;
  text-transform: uppercase;
}

button:hover {
  background-color: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

#result h3 {
  margin: 20px 0;
  color: #fff;
}

#result {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 8px;
  text-align: left;
  color: #fff;
}

th {
  background-color: #03e9f4;
  color: #fff;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  color: #fff;
}

th, td {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  text-align: left;
}

th {
  background-color: #03e9f4;
  color: #fff;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
